.body {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "sidebar content";
  grid-template-rows: auto auto;
  align-items: center;
}

.body > .body2 {
  margin: 0;
  display: grid;
  width: 100%;
  grid-gap: 20px;
  background-color: gray;
}

.body > .body2 > .subject-card {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto-repeat(150px);
  border: 3px solid #ccc;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  text-align: center;
}
.body > .body2 > .subject-card > .subject {
  display: grid;
  border: 1px solid #c1c1c1;
  grid-template-columns: auto;
  border-radius: 1px;
  font-size: 1.25em;
  cursor: pointer;
  color: black;
}

.body > .body2 > .subject-card > .subject > #subject9 {
  width: 100%;
}

.body > .body2 > .form-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 3px solid #ccc;
  border-radius: 10px;
  width: 100%;
}

.body > .body2 > .form-group > .link {
  border: 2px solid #ccc;
  border-radius: 3px;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.body > .body2 > .form-group > .link > .title {
  border: 2px solid #ccc;
  border-radius: 3px;
}

.body > .body2 > .form-group > .link > .content {
  color: #302a2a
}