.container {
  margin: 0;
  width: 100vw;
  display: grid;
  grid-template-rows: auto;
  background-color: white;
}

footer {
  width: 100%;
  background-color: rgb(61, 61, 61);
  left: 0;
  bottom: 0;
}

footer > p {
  color: rgb(238, 234, 234);
}

.input-wrapper input {
  border: 1px solid #dbdbdb;
  padding: 10px 15px;
  border-radius: 5px;
  width: 50%;
  outline: none;
}

header {
  background: rgb(59, 57, 57);
  border: 1px solid gray;
  width: 100%;
  height: 50px;
  line-height: 64px;
  display: flex;
  justify-content: space-around;
}

header > .search-query {
  width: 50%;
  height: 30%;
}

header > .nav-header {
  display: grid;
  grid-template-columns: 2fr 2fr; 
}

header > .nav-header > a {
  color: white;
  text-decoration: none;
}

.body {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "sidebar content";
  grid-template-columns: auto auto;
  align-items: center;
}

.body > .nav-container {
  margin: 0;
  grid-area: sidebar;
  border-radius: 10px;
  height: 100%;
  width: 50%;
  background-color: gray;
}

.body > .nav-container > .nav {
  text-align: center;
  font-size: 1.25em;
  color: rgb(253, 253, 253);
  cursor: pointer;
}

button {
  background-color: antiquewhite;
  width: 150px;
  height: 50px;
}

.form-action {
  padding: 50px;
}