.container {
  margin: auto;
  width: 100vw;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.footer {
  width: 100%;
  background-color: rgb(1, 1, 63);
  left: 0;
  bottom: 0;
}

.footer > p {
  color: rgb(238, 234, 234);
}

.input-wrapper input {
  border: 1px solid #dbdbdb;
  padding: 10px 15px;
  border-radius: 5px;
  width: 50%;
  outline: none;
}

.header {
  background: rgb(1, 1, 63);
  border: 1px solid gray;
  width: 100%;
  height: 50px;
  line-height: 64px;
  display: flex;
  justify-content: space-around;
}

.header > .search-query {
  width: 50%;
  height: 30%;
}

.header > .nav-header {
  display: grid;
  grid-template-columns: 2fr 2fr; 
}

.header > .nav-header > a {
  color: white;
  text-decoration: none;
}